@model WebEmMVC.Models.FormularioCliente

@{
    ViewData["Title"] = "Central";
}

<div class="text-center">
    <h1 class="display-4">Central de Ideias e Melhorias</h1>
    <h3>Queremos ouvir você!</h3>
    <p>
        Este espaço foi criado especialmente para que nossos clientes possam compartilhar sugestões de melhorias ou reclamações sobre nossos serviços. Sua opinião é fundamental para que possamos evoluir e oferecer um atendimento cada vez melhor.
        Preencha o formulário abaixo com clareza e, se possível, com detalhes — cada mensagem recebida será analisada com atenção por nossa equipe.
    </p>

    @if (TempData["MensagemErro"] != null)
    {
        <div style="color: red; margin-top: 10px;">
            @TempData["MensagemErro"]
        </div>
    }

    <form asp-action="EnviarMensagem" method="post">
        <div class="form-floating mb-3">
            <input asp-for="Nome" class="form-control" placeholder=" " />
            <label asp-for="Nome"></label>
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Empresa" class="form-control" placeholder=" " />
            <label asp-for="Empresa"></label>
            <span asp-validation-for="Empresa" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <input asp-for="Email" class="form-control" placeholder=" " />
            <label asp-for="Email"></label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <select asp-for="Categoria" class="form-select">
                <option value="">Escolha uma opção</option>
                <option value="Sugestão">Sugestão de Melhoria</option>
                <option value="Reclamação">Reclamação</option>
            </select>
            <label asp-for="Categoria"></label>
            <span asp-validation-for="Categoria" class="text-danger"></span>
        </div>

        <div class="form-floating mb-3">
            <textarea asp-for="Descricao" class="form-control" placeholder=" "></textarea>
            <label asp-for="Descricao"></label>
            <span asp-validation-for="Descricao" class="text-danger"></span>
        </div>

        <div>
            <button type="submit" class="btn btn-primary">Enviar</button>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
